<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
        </Console>

        <RollingFile name="RollingFile" filename="log/backend.log"
                     filepattern="log/%d{YYYYMMddHHmmss}-backup.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        <STMP name="Mail" subject="Error Log From intelab wbe" to="engineer@ilabservice.com" from="ilabservice@backend_VM_fqdn"
              smtpHost="smtp.mxhichina.com" smtpPort="25" bufferSize="1" smtpUsername="intelab@ilabservice.com" smtpPassword="Service@001"
              ignoreExceptions="false" smtpDebug="true">
        </STMP>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
        <Root level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="Mail" />
        </Root>
    </Loggers>
</Configuration>